[build]
  command = "npm run build"
  publish = "dist"
  sed -i 's|PC4U_AUTH0_DOMAIN_PLACEHOLDER|'$VITE_AUTH0_DOMAIN'|g' js/config.js && sed -i 's|PC4U_AUTH0_CLIENT_ID_PLACEHOLDER|'$VITE_AUTH0_CLIENT_ID'|g' js/config.js && echo "Config successfully injected."

# Serve all HTML files directly
[[redirects]]
  from = "/*"
  to = "/:splat"
  status = 200
  force = false

# Fallback for SPA routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
