html, body {
    margin: 0;
}

body {
    font-family: "Dosis", sans-serif;
    background-color: #f3f3f3;

    background-image: linear-gradient(to left, #ffffff, #ffffff);
}

.navbar {
    width: 100;
    padding: 1rem 5;
    background-color: #000000;
    border-bottom: #1b1d24;
    backdrop-filter: blur(15px);
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    justify-items: space-between;
    
}

nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 100%;
  background: linear-gradient(45deg, #ffdd00 #eae4bc)
}

.navbar .nav-links {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px;
  overflow: hidden;
  border: none;
  display: flex;
  gap: 0px;
  
}

.navbar .nav-links a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar .nav-left a:hover {
    color: #ffb700;
}

.navbar .nav-right a:hover {
    color: #ffb700;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 0 15px;
  border-right: 1px solid #ffb700; 
}

nav li:last-child {
  border-right: none; 
}

.logo-img {
  max-height: 45px;
  width: auto;   
  display: block;
  text-align: center;
  margin: 0px 100px;
}

.site-footer {
  width: 100;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    background-color: #040506;
    
}

.footer-img {
    max-height: 80px;
    width: auto;
}
/* REUSE END */

.main-question {
    text-align: center;
    padding: 20px 0px;
}

.tagline {
    font-family: "Dosis", sans-serif;
    font-size: 60px;
    font-weight: bold; 
    color: #000000; 
}

.tagline-one,
.tagline-two {
   display: block;
   margin: 0;
   padding: 0;
}

.top-banner {
    width: auto;
    height: 30px;
    background-color: #ffb700;
    border: 1px solid #ffb700;
}

.info-banner {
  margin-top: 2%;
  width: auto;
  height: auto;
  background-color: #000000;
}

.question-one {
   display: block;
   margin: 0;
   padding: 0;
   justify-content: center;
}
