/* REUSE */
html, body {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;

    background-image: linear-gradient(to left, #007BFF, #D9534F);
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    padding: 15px 30px;
    background-color: #ffffff;
}

.navbar .nav-links {
  list-style-type: none;
  margin: 0;
  padding: 10px 30px;
  overflow: hidden;
  border: none;
  display: flex;
  gap: 100px;
}

.navbar .nav-links a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar .nav-left a:hover {
    color: #007BFF;
}

.navbar .nav-right a:hover {
    color: #D9534F;
}

.logo-img {
  max-height: 100px;
  width: auto;   
  display: block;
  text-align: center;
  margin: 10px 0;
}

.site-footer {
    text-align: center;
    padding: 30px 0px;
}

.footer-img {
    max-height: 80px;
    width: auto;
}
/* REUSE END */

.team-section {
    margin: 0 auto;
    text-align: center;
}

.team-section h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #000000;
}

.team-list {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    width: fit-content;
    margin: 0 auto;
    gap: 50px;
    list-style: none;
    padding: 0;
}

.team-member-card {
    background: #ffffff;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.team-member-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(247, 53, 253, 0.4);
}

.team-member-card .profile {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 4px solid #e0e0e0;
    margin-bottom: 16px;
}

.team-member-card .linkedin-logo {
    width: 30px;
    height: auto;
}

.team-member-card h3 {
    font-size: 24px;
    margin: 8px 0;
    color: #34495e;
}

.team-member-card .member-desc {
    font-size: 14.4px;
    color: #555;
    margin-bottom: 16px;
}

.team-member-card .member-email {
    font-size: 14.4px;
    color: #007bff;
    text-decoration: none;
}

.team-member-card .member-email:hover {
    text-decoration: underline;
}

.team-member-card .social-link img{
    color: #007bff;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.team-member-card .social-link:hover img {
    opacity: 1;
}